*.swp
*.fastq.gz
*.zip
*.html
*.pdf
*.txt
*.log
10_log_files/*
*multiqc_data
*.fna*
*.amb
*.ann
*.bwt
*.md5
*.pac
*.sa
*.bam
*.bai
*.bed
*.gff
.Rhistory
*.bcf
*.vcf
.DS_Store
*~
*.sync
*.params
*.mpileup
*.fst
*.gtf
*.csi

